html,
body {
  margin: 0;
  padding: 0;
  width: 100%;

  font-family: "Jersey 15", sans-serif;
  font-size: 1.2em;
  overflow-x: hidden;
  background-image: url("./assets/openart-ec0c637caede449fa577744d86208237_raw.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  width: 100%;
  flex-grow: 1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1050;
  background-color: #3db3cf;
}

footer {
  background-color: #3bb2cb;
}

.custom-modal .modal-content {
  background-color: #c465a9 !important;
  /* Colore di sfondo personalizzato */
  margin-bottom: 10px;
  padding: 10px;
  border: 5px solid #3db3cf !important;
  border-radius: 25px;
  color: white;
  border: none;
}

.custom-modal .modal-header {
  background-color: #c465a9;
  /* Colore di sfondo personalizzato per l'intestazione */
  color: white;
  border-bottom: none;
}

.custom-modal .modal-footer {
  background-color: #c465a9;
  border-top: none;
}

.custom-btn {
  background-color: #e482bb;
  border: 2px solid #c465a9;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-btn:hover {
  background-color: #c465a9;
  border: 2px solid #e482bb;
  transform: scale(1.05);
}