html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url("./assets/openart-ec0c637caede449fa577744d86208237_raw.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Jersey 15", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2em;
  overflow-x: hidden;
  padding-top: 60px;
  padding-bottom: 60px;

}

main {
  flex-grow: 1;
}

header {
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0;
}

footer {
  z-index: 9999;
  position: fixed;
  /* Cambiato da absolute a relative */
  width: 100%;
  bottom: 0;

}