#root {
  height: 100%;
  width: 100%;
}


body {
  background-image: url("./assets/openart-ec0c637caede449fa577744d86208237_raw.jpg");
  background-size: cover;
  /* Adatta l'immagine per coprire l'intera pagina */
  background-position: center center;
  /* Centra l'immagine */
  background-attachment: fixed;
  /* Fissa l'immagine quando scorri la pagina */
  height: 100vh;
  /* Imposta l'altezza a 100% della finestra del browser */
  margin: 0;
  /* Rimuove i margini predefiniti */
  padding-top: 70px;
  overflow: auto;
  font-family: "Jersey 15", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2em;
}